<footer>
  <div class="container">
      <p>©All rights reserved</p>
      <p>Made by <a href="https://pan0mera.github.io/" class='a-active'>Artem Ponomarev</a></p>

  </div>
</footer>
<script type="text/javascript" src="/js/delete_bitch.js"></script>
<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/cuteform.js"></script>

</body>
</html>
