$main: rgb(254, 238, 23);
$sec: black;

*{
  margin: 0;
  padding: 0;
  outline: 0;
  font-family: 'Nunito', sans-serif;
  color:white;
  @media(max-width: 560px){
    font-size: 12pt;
  }
}

body{
    background-color: lighten(rgb(37, 33, 27), 50%);
}

a{
  text-decoration: none;
  color: white;
}

.container{
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

/***
ICON SVG
***/
.svg-icon{
  &-pen{
    background-image: url("../img/pen.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    min-width: 1rem;
    min-height: 1.2rem;
    color:white;
  }
}

/***
END ICON SVG
***/

header{
  top:0;
  position: sticky;
  padding: 1em 0;
  background-color: black;
  text-align: center;
  z-index: 100;
  .logo{
    h2{
      color:$main;
      font-family: 'Montserrat', sans-serif;
      font-weight: 800;
    }
  }
}

nav{
  top: calc(33px + 2em);
  position: sticky;
  padding: 0.5em 0;
  background-color: lighten(fade-out($sec,0.2), 30%);
  width: 100%;
  z-index: 100;
  ul{
    width: 100%;
    justify-content: space-between;
    list-style: none;
    display: flex;
    flex-direction: row;
  }
}
.a-active{
  transition: .3s;
  &:hover, &:active{
    color: $main;
  }
}

.main{
  min-height: 90vh;
  text-align: center;
  h2{
    margin-top: 1em;
    padding-bottom: 1em;
  }
}

.user, .bitch{
  padding: 2em;
  border-radius: 10px;
  background-color: lighten(rgb(37, 33, 27), 30%);
  margin: 20vh auto 0;
  max-width: 520px;
  &-bio{
    display: flex;
    flex-direction: row;
    &-img{
      max-width: 215px;
      max-height: 215px;
      width: 20vw;
      height: 20vw;
      border: 3px solid lighten(fade-out($main, 0.5), 10%);
      border-radius: 5px;
    }
    @media(max-width: 560px){
      flex-direction: column;
      align-items: center;
      &-img{
        width: 40vw;
        height: 40vw;
        margin-bottom: 1em;
      }
    }
  }
  &-info{
    width: 100%;
    h2{
      font-size: 2em;
      margin: 0;
      padding: 0;
    }
    &-security{
      display: flex;
      align-items: center;
      flex-direction: column;
      &-sec{
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-around;
      }
      &-bold{
        font-weight: 600;
      }
    }
    &-name{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    @media(max-width: 560px){
      h2{
        font-size: 1.2em;
      }
      &-name{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
      }
    }
  }
}

.bitches{
  &-list{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    &-item{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: flex-start;
      position: relative;
      padding-bottom: 2em;
      .bitch{
        margin: 0;
        &-info{
          padding-left: 1em;
        }
      }
    }
  }
}
.counter{
  padding-bottom: 2em;
}
.delete_this{
  right: 0;
  position: absolute;
  background-color: rgb(223, 46, 88);
  border-color: rgba(77, 164, 37, 0);
  padding: 0.3em;
  border-radius: 5px;
  cursor: pointer;
}
.change_this{
  right: 2em;
  position: absolute;
  background-color: rgb(223, 46, 88);
  border-color: rgba(77, 164, 37, 0);
  padding: 0.3em;
  border-radius: 5px;
  cursor: pointer;
}
.cute-form{
  margin: 0 auto;
  max-width: 520px;
  label{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1em;
    p{
      font-weight: 600;
      font-size: 1.3rem;
    }
    &:last-of-type{
      p{
        font-size: 1.3rem;
      }
      flex-direction: column;
    }
  }
}
.create-textarea{
  background-color: rgba(255, 255, 255, 0.4);
  padding: 0.5rem;
  border-radius: 5px;
  resize: none;
  width: 100%;
  height: 50%;
  font-size: 1.1rem;
}

.cute-input{
  background-color: rgba(255, 255, 255, 0.4);
  border-color: rgba(77, 164, 37, 0);
  padding: 0.5rem;
  border-radius: 5px;
  outline: none;
  color:white;
  font-size: 1.1rem;
  width: 70%;
}

.cute-button{
  background-color: rgba(255, 255, 255, 0.4);
  border-color: rgba(77, 164, 37, 0);
  padding: 1em;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  &:hover, &:active{
    background-color: darken($main,10%);
    margin-top:-3px;
  }
}

.form-hid{
  display: none;
}

.switcher{
  background-color: darken($main, 45%);
  padding: 2% 3%;
  margin: 2em 0;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.3s;
  &:hover, &:active{
    background-color: darken($main, 15%);
  }
  p{
    font-size: 1.2em;
    font-weight: 600;
  }
  &-active{
    background-color: darken($main, 15%);
  }
}

.message, .error{
  max-width: 512px;
  margin: 1em auto 0;
  background-color: rgb(223, 46, 88);
  border-radius: 5px;
  padding: 1em;
  ul{
    list-style: none;
  }
}

.necessarily{
  color: rgb(223, 46, 88);
}

footer{
  width: 100%;
  background-color: darken($main, 45%);
  padding: 1em 0;
  font-weight: 600;
  text-align: center;
}
