<h2>Добавить новую шлюшку</h2>

<form class="cute-form" action="/create" method="post" enctype="multipart/form-data">
  <label for="">
    <p>Имя:</p>
    <input type="text" name="name" value="" placeholder="Имя" class="cute-input">
  </label>
  <label for="">
    <p>Фамилия:</p>
    <input type="text" name="second_name" value="" placeholder="Фамилия"class="cute-input">
  </label>
  <label for="">
    <p>Фотография:</p>
    <input type="file" name="avatar" value="">
  </label>
  <label for="">
    <p>Дополнительная информация:</p>
    <textarea name="metaBitch" rows="8" cols="80" class="create-textarea"></textarea>
  </label>
  <input type="submit" name="" value="Добавить" class='cute-button'>
</form>
