<h2>Добавить новую шлюшку</h2>

<div class="">
  <div class="switcher" id='switch1'>
    <p>Добавить Вручную</p>
  </div>
  <div class="form-hid" id='form1'>
    <form class="cute-form" action="/create" method="post" enctype="multipart/form-data">
      <input type="hidden" name="switcher" value="default">
      <label for="">
        <p>Имя:</p>
        <input type="text" name="name" value="" placeholder="Имя" class="cute-input">
      </label>
      <label for="">
        <p>Фамилия:</p>
        <input type="text" name="second_name" value="" placeholder="Фамилия"class="cute-input">
      </label>
      <label for="">
        <p>Фотография:</p>
        <input type="file" name="avatar" value="">
      </label>
      <label for="">
        <p>Дополнительная информация:</p>
        <textarea name="metaBitch" rows="8" cols="80" class="create-textarea"></textarea>
      </label>
      <input type="submit" name="" value="Добавить" class='cute-button'>

    </form>

  </div>
</div>
<div class="">
  <div class="switcher" id='switch2'>
    <p>Добавить через ссылку вк</p>
  </div>
  <div class="form-hid" id='form2'>
    <form class="cute-form" action="/create" method="post" enctype="multipart/form-data">
      <input type="hidden" name="switcher" value="vk">
      <label for="">
        <p>Ссылка на профиль вк:</p>
        <input type="text" name="urlvk" value="" placeholder="Ccылка" class="cute-input">
      </label>
      <input type="submit" name="" value="Добавить" class='cute-button'>

    </form>

  </div>
</div>
