<h2>Регистрация</h2>

<form class="cute-form" action="/register" method="post" enctype="multipart/form-data">
  <label for=""><p>Имя<span class='necessarily'>*</span></p><input type="text" name="name" value="" class='cute-input'></label>
  <label for=""><p>Логин<span class='necessarily'>*</span></p><input type="text" name="login" value="" class='cute-input'></label>
  <label for=""><p>Пароль<span class='necessarily'>*</span></p><input type="password" name="password" value="" class='cute-input'></label>
  <label for=""><p>Повторите пароль<span class='necessarily'>*</span></p><input type="password" name="configPassword" value="" class='cute-input'></label>
  <label for=""><p>Фотография<span class='necessarily'>*</span></p>  <input type="file" name="avatar" value=""></label>
  <label for=""><p>Дополнительная информация</p>  <textarea name="metaUser" rows="8" cols="80" class='create-textarea'></textarea></label>
  <input type="submit" name="" value="Зарегестрировать" class='cute-button'>
</form>
